absl-py==0.12.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
appnope==0.1.0
appscript==1.0.1
array2gif==1.0.4
asgiref==3.4.1
asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.2.0
autograd==1.3
autoray==0.2.5
Babel==2.7.0
backcall==0.1.0
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
Brian2==2.4.2
cached-property==1.5.2
cachetools==4.2.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
charts==0.4.6
click==8.0.3
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
commonroad-io==2020.3
conda==4.9.2
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
configobj==5.0.6
configparser==5.0.2
contextlib2==0.6.0
cryptography==35.0.0
cvxopt==1.2.0
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
dataclasses==0.6
decorator==4.4.0
defusedxml==0.6.0
df2gspread==1.0.4
dill==0.3.4
distlib==0.3.3
distributed==2.5.2
dj-database-url==0.5.0
Django==3.2.7
django-bootstrap-breadcrumbs==0.9.2
django-cors-headers==3.8.0
django-crispy-forms==1.12.0
django-heroku==0.3.1
django-model-utils==4.1.1
django-notifications==0.1.dev0
django-notifications-hq==1.6.0
django-rest-framework==0.1.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
dlx==1.0.4
dnspython==2.1.0
docker-pycreds==0.4.0
docplex==2.22.213
docutils==0.15.2
dominate==2.3.1
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fastdtw==0.3.4
fastjsonschema==2.15.1
filelock==3.0.12
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==1.12
fsspec==2021.5.0
future==0.17.1
gast==0.4.0
gensim==4.1.2
gevent==1.4.0
gitdb==4.0.7
GitPython==3.1.24
glob2==0.7
gmpy2==2.0.8
google-api-python-client==1.6.7
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.34.1
gspread==4.0.1
gym==0.18.3
h5py==3.1.0
HeapDict==1.0.1
html5lib==1.0.1
httplib2==0.20.1
icu==0.0.1
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
inflection==0.5.1
interruptingcow==0.8
ipykernel==5.1.2
ipython==7.8.0
ipython_genutils==0.2.0
ipythonblocks==1.9.0
ipywidgets==7.5.1
iso3166==1.0.1
isort==4.3.21
itsdangerous==0.24
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.11.3
joblib==0.13.2
json5==0.8.5
jsonfield==3.1.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-http-over-ws==0.0.8
jupyterlab==1.1.4
jupyterlab-server==1.0.6
jwt==1.3.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
Morfessor==2.0.6
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
multitasking==0.0.9
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
nest==1.3.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
npm==0.1.1
ntlm-auth==1.5.0
numba==0.45.1
numba-scipy==0.2.0
numexpr==2.7.0
numpy==1.19.5
numpydoc==0.9.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.0
opt-einsum==3.3.0
optional-django==0.1.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
PennyLane==0.19.0
PennyLane-Lightning==0.19.0
pep8==1.7.1
periodictable==1.5.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.5.0.1
platformdirs==2.4.0
plotly==4.14.3
pluggy==0.13.0
ply==3.11
polyglot==16.7.4
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.17.1
psutil==5.6.3
psycopg2==2.7.7
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
pyglet==1.5.15
Pygments==2.4.2
pylatexenc==2.10
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySimpleSOAP==1.16.2
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-constraint==1.4.0
python-dateutil==2.8.0
python-gnupg==0.4.7
python-ldap==3.3.1
pytorch-lightning==1.0.8
pytz==2021.1
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
qiskit==0.32.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.18.0
qiskit-ignis==0.6.0
qiskit-machine-learning==0.2.1
qiskit-terra==0.18.3
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
Quandl==3.6.2
rawkit==0.6.0
rawpy==0.16.0
reportlab==3.5.67
requests==2.22.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retrying==1.3.3
retworkx==0.10.2
rope==0.14.0
rsa==4.7.2
ruamel_yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.7.2
seaborn==0.9.0
secrets==1.0.2
semantic-version==2.6.0
Send2Trash==1.5.0
sentry-sdk==1.4.3
Shapely==1.7.1
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
smart-open==5.2.1
smmap==4.0.0
snntoolbox==0.6.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
sqlparse==0.4.2
statsmodels==0.10.1
subprocess32==3.5.4
suds==0.3.5
swapper==1.1.2.post1
symengine==0.8.1
sympy==1.4
systematic==4.8.7
tables==3.5.2
tblib==1.4.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.2
toolz==0.10.0
torch==1.10.0
torch-summary==1.4.5
torch-utils==0.1.2
torchtext==0.11.0
torchvision==0.8.1
tornado==6.0.3
tqdm==4.61.0
traitlets==4.3.3
tweedledum==1.1.1
typing-extensions==3.10.0.2
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.24.2
virtualenv==20.8.1
visitor==0.1.3
wandb==0.12.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==0.12.2
whitenoise==5.3.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
xmltodict==0.12.0
yaspin==2.1.0
yfinance==0.1.64
zict==1.0.0
zipp==0.6.0
