addict==2.4.0
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.2
argcomplete==1.12.3
attrdict==2.0.1
attrs==21.2.0
autograd==1.3
autoray==0.2.5
Babel==2.9.1
backcall==0.2.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cryptography==35.0.0
cvxopt==1.2.7
cycler==0.10.0
debugpy==1.5.1
decorator==5.1.0
descartes==1.1.0
dill==0.3.4
dlx==1.0.4
docplex==2.22.213
docutils==0.17.1
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.15.1
Fiona==1.8.20
future==0.18.2
gdspy==1.6.9
geopandas==0.10.2
h5py==3.2.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
inflection==0.5.1
ipykernel==6.5.0
ipython==7.29.0
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter-client==7.0.6
jupyter-core==4.9.1
kiwisolver==1.3.2
llvmlite==0.37.0
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
more-itertools==8.11.0
mpmath==1.2.1
multitasking==0.0.9
munch==2.5.0
nest-asyncio==1.5.1
networkx==2.6.3
ntlm-auth==1.5.0
numba==0.54.1
numpy==1.20.3
packaging==21.2
pandas==1.3.4
parso==0.8.2
PennyLane==0.18.0
PennyLane-Lightning==0.18.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
Pint==0.18
ply==3.11
prompt-toolkit==3.0.22
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.21
pyEPR-quantum==0.8.4.6
Pygments==2.10.0
pylatexenc==2.10
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.18.0
PySide2==5.15.2
python-constraint==1.4.0
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
qiskit==0.32.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.18.0
qiskit-ignis==0.6.0
qiskit-machine-learning==0.2.1
qiskit-metal==0.0.4
qiskit-terra==0.18.3
Quandl==3.7.0
qutip==4.6.2
requests==2.26.0
requests-ntlm==1.1.0
retworkx==0.10.2
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
semantic-version==2.6.0
Shapely==1.8.0
shiboken2==5.15.2
six==1.16.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==4.3.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
symengine==0.8.1
sympy==1.9
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
tweedledum==1.1.1
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
websocket-client==1.2.1
xarray==0.20.1
yfinance==0.1.64
zipp==3.6.0
